.forum-frame {
  width: 100%;
  height: 100%;
  background-color: #ee9694;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}
.blog-block .left .filter {
  width: 100%;
  margin-bottom: 20px;
}
.filter select {
  width: 100%;
  height: 3rem;
  background-color: transparent;
  border: 4px solid black;
}
select:focus {
  outline: none;
}

.forum-card .hide-box {
  height: 0;
  transition: 0.7s;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}
.forum-card .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title .icon-frame {
  display: flex;
  /* align-items: center; */
}
.openBtn {
  font-size: 1.8rem;
  transition: 0.7s;
}
.openBtn.open {
  transform: rotate(180deg);
}

.moreBtn {
  margin-top: 1rem;
  padding: 10px 20px;
  width: fit-content;
  border: 3px solid black;
  transition: 0.3s;
  /* align-self: flex-end; */
}

.moreBtn:hover {
  cursor: default;
  border-radius: 2px;
  color: rgb(164, 117, 208);
  border: 5px solid rgb(164, 117, 208);
}
