.headerEl {
    border-bottom: 5px solid black;
}

.container{
  background-color: #66e0ce;
}

.welcome{
  display: flex;
  justify-content: center;
  background-color: #ffe66d;
  border-bottom: 5px solid black;
}

.main-form{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 50vh;
    overflow: auto;

}

.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: antiquewhite;
    border: 5px solid black;
    border-radius: 20px;
    margin-right: 2rem ;
    /* height: 50%; */
    overflow: auto;

}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: antiquewhite;
    border: 5px solid black;
    border-radius: 20px;
    /* height: 50%; */
    overflow: auto;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: antiquewhite;
}