*{
    border: 1px solid rgb(100,100,100,.15);
}

.login-form{
    display: flex;
    flex-direction: column;
}

.loginEl{
    display: flex;
    flex-direction: column;
}

.login-btn{
    border: 3px solid black;
}