/* *{
    border: 1px solid rgb(100,100,100,.15);
} */

.ReactCollapse--collapse {
  transition: height 500ms;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.login-form p {
  color: red;
}

.loginEl {
  display: flex;
  flex-direction: column;
}

.login-btn {
  margin-top: 1rem;
  padding: 3px;
  width: fit-content;
  border: 3px solid black;
  transition: 0.3s;
}

.login-btn:hover {
  cursor: default;
  border-radius: 2px;
  color: rgb(164, 117, 208);
  border: 5px solid rgb(164, 117, 208);
}
