:root {
  --pink: #ee9694;
  --yellow: #ffe66d;
  --purple: #99c1de;
  --green: #66e0ce;
  --orange: #ffac81;
  --textColor: #707070;
}

.home-frame {
  width: 100vw;
  height: 88vh;
  display: flex;
  flex-wrap: wrap;
}
.menu-block {
  width: 50vw;
  height: 44vh;
  border: 5px solid black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-block h1 {
  text-decoration: none;
  /* color: var(--textColor); */
}

.menu-block h1:active {
  color: black;
  color: var(--textColor);
}

.menu-block.yellow {
  background-color: var(--yellow);
}

.menu-block.yellow.open {
  width: 100vw;
  height: 88vh;
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.7s;
}

.menu-block.pink {
  background-color: var(--pink);
}

.menu-block.pink.open {
  width: 100vw;
  height: 88vh;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.7s;
}

.menu-block.green {
  background-color: var(--green);
}

.menu-block.green.open {
  width: 100vw;
  height: 88vh;
  position: absolute;
  top: 0;
  transition: 0.7s;
}

.menu-block.purple {
  background-color: var(--purple);
}

.menu-block.purple.open {
  width: 100vw;
  height: 88vh;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.7s;
}

.menu-block.orange {
  background-color: var(--orange);
}
