.ReactCollapse--collapse {
    transition: height 500ms;
}

h2:hover{
    cursor: s-resize;
    color:cadetblue;
}

.signup-form{
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.signupEl{
    display: flex;
    flex-direction: column;
}

.signup-btn{
    padding: 3px;
    width: fit-content;
    border: 3px solid black;
    transition: .3s;
}

.signup-btn:hover{
    cursor: default;
    border-radius: 2px;
    color:rgb(164, 117, 208);
    border: 5px solid rgb(164, 117, 208);
}

input{
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
}

input:focus{
    outline: none;
}